


/*styles*/
html, body {
    background: linear-gradient(lightgray, orange);
    height: 100%;
   }

body {
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    position: fixed;
    bottom:10px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
}

header {
    
}

.btn {
    background-color:#5aa4f5;
    color:white;
    font-weight:bold;
}

a, .navigate {
    color:white;
}

.navigate {
    color: white;
    z-index:2;
}

h1{
    color:dimgray;
    font-weight:bolder;
    font-size:xx-large;
    margin: 20px;
}

h2 {
    color: dimgray;
    font-weight: bolder;
    font-size: medium;
    margin-bottom: 30px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.glyphicon-plus {
    font-size:x-large;
    font-weight:bolder;
}







