@using Microsoft.AspNet.Identity

<header class="container">
    <div class="row">
        <div class="col text-center">
            <h1>SIMPLE TODO LISTS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2 class="col align-self-center">FROM RUBY GARAGE</h2>
        </div>
    </div>
</header>

